// thin
// light
// regular
// medium
// bold

@font-face {
    font-family: "aeonik";
    src: url("../../../assets/fonts/Aeonik-Thin.otf");
    font-weight: 200;
}

@font-face {
    font-family: "aeonik";
    src: url("../../../assets/fonts/Aeonik-Light.otf");
    font-weight: 300;
}

@font-face {
    font-family: "aeonik";
    src: url("../../../assets/fonts/Aeonik-Regular.otf");
    font-weight: 400;
}

@font-face {
    font-family: "aeonik";
    src: url("../../../assets/fonts/Aeonik-Medium.otf");
    font-weight: 500;
}

@font-face {
    font-family: "aeonik";
    src: url("../../../assets/fonts/Aeonik-Bold.otf");
    font-weight: 600;
}
